/*img.thumbnail {*/
    /*!*height: 250px;*!*/
    /*!*width: 250px;*!*/
    /*height: auto;*/
    /*!*width: 22%;*!*/
    /*width: 300px;*/
    /*margin: 5px 1px 5px 10px;*/
    /*cursor: pointer;*/
    /*border-radius: 0;*/
    /*display: inline-block;*/


/*}*/


img.ril-image-current.ril__image{
    height: auto;
    width: auto;
}
.image-display{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 250px) {
    img.thumbnail {
        /*height: 250px;*/
        /*width: 250px;*/

        width: 100%;
        /*margin: 5px 1px 5px 10px;*/
        margin: 0;
        cursor: pointer;
        border-radius: 0;
        display: inline-block;

        /*height: fit-content;*/
        height: 350px;
        object-fit: cover;
        /*flex: 0 0 95%;*/
        max-width: 100%;

    }
}

@media (min-width: 577px) {
    img.thumbnail {
        /*height: 250px;*/
        /*width: 250px;*/
        /*height: auto;*/
        /*height: fit-content;*/
        object-fit: cover;
        width: 50%;
        /*height: 300px;*/
        /*margin: 5px 1px 5px 10px;*/
        margin: 0;
        cursor: pointer;
        border-radius: 0;
        display: inline-block;

        /*flex: 0 0 48%;*/
        max-width: 50%;

    }
}

@media (min-width: 768px) {
    img.thumbnail {
        /*height: 250px;*/
        /*width: 250px;*/
        height: 500px;
        width: 50%;
        /*margin: 5px 1px 5px 10px;*/
        margin: 0px;
        cursor: pointer;
        border-radius: 0;
        display: inline-block;

        flex: 0 0 48%;
        max-width: 50%;

    }
}

@media (min-width: 992px) {
    img.thumbnail {
        /*height: 250px;*/
        /*width: 250px;*/
        /*height: auto;*/
        height: 400px;
        width: 25%;
        /*margin: 5px 1px 5px 10px;*/
        margin: 0;
        cursor: pointer;
        border-radius: 0;
        display: inline-block;

        flex: 0 0 22%;
        max-width: 25%;

    }
}




