@font-face {
    font-family: shabnam;
    src: url(../fonts/Shabnam.woff);

}
.col-md-6{
    padding: 0;
}
.farsi1{
    font: 16px "shabnam","Open Sans","Arial",sans-serif !important;
    text-decoration: none;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.farsi2{
    font: 18px "shabnam","Open Sans","Arial",sans-serif !important;
    text-decoration: none;
}
.farsi3{
    font: 20px "shabnam","Open Sans","Arial",sans-serif !important;
    text-decoration: none;
    line-height: 40px !important;
}
.hover {
    letter-spacing: 0;
    text-decoration: none;
}

.hover:hover,
.hover:active
{
    text-decoration-color: white!important;
}
.pax:hover .hover,
.pax:active .hover
{
    color: rgb(76, 114, 118);
    background-color: rgba(76, 114, 118, 0.04);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #fdfdff;
    /*text-underline: white!important;*/
    /*text-shadow: black;*/
    /*letter-spacing: 0.25px;*/
    /*font-size: 16.15px!important;*/
}


img{
    display: block;
    width: 100%;
    height: auto;
}
.pax{
    /*padding: 0.6rem;*/
    text-align: center;
}
/*.portfolio{*/
/*    padding: 10px 1.6rem 1.6rem 1.6rem;*/
/*}*/
/*portfolio images with hover description*/
.img__wrap {
    position: relative;

}

.img__description {

    /*background: rgb(0, 240, 220);*/
    color: #fff;
    visibility: hidden;
    opacity: 0;


    transition: opacity .2s, visibility .2s;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.m-center{    text-align: center;
    vertical-align: middle;
    height: 100%;
    /*padding-top: 10%;*/
    padding: 20% 10% 10% 10%;
    /*padding-top: 22%;*/
    width: 100%;
    font: 200 15px "worksans","Open Sans","Arial",sans-serif;
    background-color: rgba(0, 240, 220, 0.9);
}
.hide {
    display: none;
}


.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

.news-pad{
    padding: 0;
}
.describe-news{
    font:  300 18px "worksans","Open Sans","Arial",sans-serif;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: none;
    padding: 1rem 0 1rem 0;
}