@font-face {
    font-family: shabnam-light;
    src: url(../fonts/iranyekanweblight.woff);

}
.describe {
    font:  300 10px "worksans","Open Sans","Arial",sans-serif;
    line-height: 10px;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 0;
}
.describeNew {
    font: 25px "shabnam-light","Arial",sans-serif;
    line-height: 42px;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 0;
}
.margin-bottom {
    margin-bottom: 25px !important;
}
.name {
    font: 700 22px "shabnam","Open Sans","Arial",sans-serif !important;
    letter-spacing: 3px;
    line-height: 30px !important;
    direction:rtl;
    border-left: 5px solid rgb(0, 240, 220);

    padding-left: 8px;
}

.jumbotron{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    /*margin-top:45px;*/
    padding: 0 !important;
    z-index: 100;
    border-radius: 0 !important;
}
@font-face {
    font-family: worksans;
    src: url(../fonts/worksans.woff2);

}

@font-face {
    font-family: worksansbold;
    src: url(../fonts/worksansbold.woff2);

}
.transparent {
    background-color: rgba(255, 255, 255, 0.08);
}